<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/success" method = "get" class = "wrap">
      <input type="text" placeholder="请输入已验证手机/邮箱" class = "phone">
      <input type="text" placeholder="请输入密码" class = "password">
      <input type="submit" value = "登录" class = "login">
    </form>
  </body>
</html>